<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @purchase.user_id %>
</p>

<p>
  <strong>Info:</strong>
  <%= @purchase.info %>
</p>

<p>
  <strong>Pay:</strong>
  <%= @purchase.pay %>
</p>


